* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  overflow-x: hidden;
}

.align-baseline {
  align-items: baseline;
}

.nav {
  display: flex;
  height: 50px;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #dcdcdc;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
}

aside a {
  cursor: pointer;
  font-family: nyt-cheltenham-small, georgia, "times new roman", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  color: rgb(51, 51, 51);
}

aside img,
aside a {
  height: 100px;
  width: 100px;
  float: left;
}

.nav a {
  text-decoration: none;
  color: #000;
  padding-top: 12px;
  margin: 0 20px;
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav a:hover {
  text-decoration: underline;
}

.title img {
  vertical-align: top;
  height: 550px;
  max-width: 90%;
  margin: 20px auto;
}

.nav a img {
  height: 45px;
}

.nav button {
  border-radius: 4px;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  padding: 11px 12px 8px;
  margin-right: 6px;
  margin-top: 5px;
}

.buttons {
  margin-right: 30px;
}

.icons {
  margin-left: 30px;
}

.fa-bars,
.fa-search {
  margin: 0 15px 65px;
}

.title {
  text-align: center;
  margin-top: 50px;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif, sans-serif;
}

.title h1 {
  font-style: italic;
}

.title h1:nth-child(2) {
  margin-left: -239px;
  margin-top: 10px;
}

.page-text {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin-bottom: 100px;
}

.text-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

aside h6 {
  border-bottom: 1px solid #dcdcdc;
}

.text-grid h6 {
  grid-column: 1 / 9;
}

aside p {
  margin: 8px 150px 20px 20px;
}

.text-grid p {
  grid-column: 1 / 4;
}

.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20% 15% 15% 15% 15% 20%;
}

figcaption {
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
}

strong {
  font-weight: 800;
  margin-right: 5px;
}

main section {
  margin: 0 20%;
}

aside {
  margin: 100% auto;
  margin-left: 90px;
}

.editor-info {
  display: block;
  vertical-align: baseline;
  margin-bottom: 15px;
}

/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */

.flex-h,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.full-container {
  width: 100vw;
  background-color: #fff;
}

/* Header section */

#main-header {
  height: 60px;
  padding: 2rem;
  position: fixed;
  top: 0;
  z-index: 999;
}

/* Main section */

#videos {
  width: 96%;
  margin-top: 5rem;
}

/* Main section: Main video section */

#main-video {
  height: 600px;
  align-items: stretch;
}

iframe {
  height: 500px;
  width: 100%;
  border: 0;
}
